<section class="hero-section">
  <div class="hero-container container">
    <h1 class="hero-title">Live Busy status</h1>
    <p class="hero-text">
      Busy Status Bar can integrate with desktop software and automatically
      activate when you're on a call, live on stream, recording audio or when a
      certain program is active.
    </p>
  </div>
  <div id="quiz-container">
    <div id="quiz"></div>
    <button id="next">Next question</button>
  </div>
  <div id="registration-container" style="display: none">
    <form id="registration-form" class="wt-form">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          class="wt-input"
          autocomplete="name"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          class="wt-email-input"
          autocomplete="email"
        />
      </div>

      <div class="form-group">
        <label for="phone">Phone number</label>
        <input
          type="text"
          id="phone"
          name="phone"
          class="wt-phone-input"
          autocomplete="tel"
        />
      </div>

      <button type="submit" id="submitButton">Send</button>
    </form>
  </div>
</section>
