body {
  font-family: 'Manrope', sans-serif;
  color: #1c1d20;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
